.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background: #f2f6ff;
}

.login-card {
  background: white;
  padding: 25px 30px;
  border-radius: 12px;
  width: 320px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
}

.login-card h2 {
  margin-bottom: 20px;
}

.login-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.login-card button {
  width: 100%;
  padding: 12px;
  background: #004aad;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.login-card button:hover {
  background: #003780;
}
